# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Testing
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

Backend_DevOps_Assignment